$dark-primary:rgb(24, 29, 34);
$dark-secondary:#212529;
$shadow-dark: rgba(20, 19, 19, 0.658);
$light-primary: rgb(60, 63, 236);
$lighter-primary: rgb(139, 141, 255);

$white: 'white';
$light-secondary:rgb(228, 130, 50);